@using ShopingList.Features.ShopingLists.Models
@model IEnumerable<GroceryListVM>

@{
    ViewData["Title"] = "Groceries List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>My Groceries List</h1>

<p>
    <a class="btn btn-success fw-bold" asp-action="Create">Create New</a>
</p>
@if (TempData["AlertMsg"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["AlertMsg"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Products
            </th>
           <th>Items Remains</th>
           <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                    @if (item.Product_GroceryList.Count == 0)
                    {
                       <p>No items</p>
                    }
                    else if (item.Product_GroceryList.Count == 1)
                    {
                        <p>@item.Product_GroceryList.Count item</p>
                    } else 
                    {
                        <p>@item.Product_GroceryList.Count items</p>
                    }
                </td>
                <td>@item.Product_GroceryList.Where(pgl => !pgl.IsBought).Count() remains</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
